<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/assets/styles2.css" type="text/css">
</head>

<body>

    <header>
        <div class="container">
            <h1 class="logo"></h1>

            <nav>
                <ul>
                    <li><a href="/articles">Home</a></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">SignUp</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%=name %> </p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <div class="container">
        <h1 class="mb-4">Blog Post</h1>
        <a href="/articles/new" class="btn btn-success">New Post </a>
        <a href="/articles" class="btn btn-success">Home </a>
        <% posts.forEach(post =>{%>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= post.title %></h4>
                <div class="card-subtitle text-muted mb-2">
                    <%= post.createdAt.toLocaleDateString()%>
                </div>
                <div class="card-text" mb-2><%= post.description%></div>
                <a href="articles/<%= post.slug %>" class="btn btn-primary">Read More</a>
                <a href="/articles/edit/<%= post.id%>" class="btn btn-info">Edit</a>
                <form action="/dashboard/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% })%>

    </div>


</body>

</html>